:root {
    --f7-theme-color: #FF8C00;
    --f7-theme-color-rgb: 255, 140, 0;
    --f7-theme-color-shade: #d67600;
    --f7-theme-color-tint: #ff9e29;
    --f7-input-outline-border-radius: 30px
}

*:not(input, textarea) {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    -webkit-touch-callout: none;
}

.underline {
    text-decoration: underline;
}

.bg-color-transparent {
    background: transparent !important;
}

.bg-color-light-gray {
    background: #eee !important;
}

.text-color-light-gray {
    color: #eee !important;
}

.toolbar-menu .tab-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 5px);
    left: 0;
    top: 2.5px;
    border-radius: 5px;
    background-color: rgba(255, 140, 0, 0);
}

.toolbar-menu .tab-link-active::after {
    background-color: rgba(255, 140, 0, 0.1);
}

.sheet-template-1 .button-ok {
    margin-top: 30px;
    position: absolute;
    bottom: 30px;
    left: 5%;
    width: 90%;
}

.sheet-template-1 {
    --f7-sheet-border-color: transparent;
    border-radius: 15px 15px 0 0;
    overflow: hidden
}

.swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: 0 0;
    cursor: pointer;
    z-index: 10
}

.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666
}

.sheet-item {
    --f7-sheet-height: auto;
    padding-bottom: 20px;
}

.sheet-item .add-to-cart {
    margin-top: 30px;
}

.sheet-item .add-to-cart .button {
    text-decoration: underline;
    font-size: 14px;
}

/*.sheet-item .add-to-cart .stepper {
    --f7-theme-color: #BDBDBD;
}*/

.sheet-item .item-info {
    margin-top: 20px;
}

.sheet-item .item-image {
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #eee;
}

.sheet-item .item-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    transition: .3s;
    opacity: 1;
}

.sheet-item .item-image .overlay.show {
    opacity:0;
}

.sheet-item .item-title {
    font-size: 23px;
    font-weight: 600 !important;
}

.sheet-item .item-desc {}

.restoraunts {
             --f7-list-item-title-font-size: 20px;
         }
.restoraunts .item-media img {
             border-radius: 10px
         }

.restoraunts .item-text .rating {
             font-size: 18px;
         }

.restoraunts .item-text {
             margin-top: 3px;
         }

.city-block {
             font-size: 18px;
             font-weight: 600;
             height: 40px;
             line-height: 40px;
         }

.restoraunts .item-media {
             background-position: center;
             background-repeat: no-repeat;
             background-size: contain;
             width: 100px;
             height: 120px;
         }

.sheet-rating i {
    line-height: 18px;
}

@media only screen and (max-device-width: 1920px) {

    :root {

    }

}

@media only screen and (max-device-width: 414px) {

    :root {

    }

}

@media only screen and (min-device-width: 375px) {

    :root {

    }

    .sheet-item .add-to-cart .stepper-button {
        width: 50px;
    }

    .sheet-item .add-to-cart input {
        width: 60px;
    }

}

@media only screen and (max-device-width: 375px) {

    :root {

    }


    .sheet-item .add-to-cart .button {
        font-size: 12px;
    }

}

@media only screen and (max-device-width: 320px) {

    :root {
        --f7-tabbar-label-font-size: 11px;
    }

    .toolbar .tab-link {
        font-size: 14px;
    }

}
